*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    display: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pro {
    margin-right:40rem ;
}
.pro h1{
    margin-top: 20%;
    font-size: 200%;
}
.home{
    color: brown;
}
.log{
   
}
.fb{
    display: flex;
    width: 100%;
    margin-top: 28%;
   
}
.insta{
    width: 100%;
    margin-top:10%;
}
.twiter{
    margin-top: 10%;
    margin-right: 20%;
    width: 100%;
}
.resume{
    margin-right: 100%;
}
.det{
    position:absolute;
    padding: 5rem;
 
}
.det ul li,a{
    padding: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: brown;

}
.det ul li,a:hover{
     
    color: blueviolet;
}
.hero{
    background-image:url(images/IMG2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.name{
    color: aliceblue;
}
.ndpart{
    margin-top: 30rem;
    margin-bottom: 50rem;
}
.login{
    margin-right: auto;
    
}

section{
    width: 100vw;
    height: 100vh;
}
.login img{
    height: 17rem;
    width: 20rem;
}
